<div class="header">
	<% if ( userFullName ) { %>
		<h2><%=userFullName%>'s Profile</h2>
		<a href="/signout">Sign out</a>
	<% } else { %>
		<h2>You are not signed in</h2>
		<a href="/oauth/facebook">Sign in with Facebook</a>
	<% } %>
</div>