<!DOCTYPE html>
<html>
	<head>
		<title>Index</title>
		<!-- Import css -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- Import Bootstrap & JQuery (found at https://www.w3schools.com/bootstrap/bootstrap_get_started.asp)-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<% include ./header %>
		<div class="page">
			<p class="title">Go to the <a href="/notes">/notes</a> directory for the Note Tracker application</p>
		</div>
	</body>
</html>