<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<!-- Import css -->
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<!-- Import Bootstrap & JQuery (found at https://www.w3schools.com/bootstrap/bootstrap_get_started.asp)-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="page">
			<h1><%= title %></h1>
			<p>By using this app, you agree to give me your life savings, all your personal belongings, and your soul!!! (just kidding)</p>
			<p>But seriously, this is just an example app for a homework assignment, so it's not like your info is going to 
				be given away or used for any malicious purposes.</p>
		</div>
	</body>
</html>